<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ styles 'style.css' }}">
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a href="{{ path '' }}">Home</a></li>
				<li><a href="{{ path 'pokemon' }}">List Pokemon</a></li>
			</ul>
			<form method="POST" action="/language">
				<select name="language" onchange="this.form.submit()">
					<option value="en">󠁧󠁢󠁥English</option>
					<option value="fr">󠁧󠁢󠁥French</option>
				</select>
			</form>
		</nav>
	</header>
